.slate-toolbar {
  position: absolute;
  z-index: 4;
  margin-top: -6px;
  color: #fff;
  cursor: auto;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #464646, #151515);
}
.slate-toolbar:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #151515;
  border-width: 5px;
  margin-left: -5px;
}
.slate-toolbar .slate-toolbar-item {
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  font-size: 14px;
}

.slate-toolbar-item, .slate-toolbar-item-active {
  width: 30px;
  height: 30px;
}

.slate-toolbar .slate-toolbar-item.separated {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

[data-block-active=true] {
  outline: 3px solid black;
}

.slate-toolbar-section {
  display: inline-block;
}

.slate-toolbar-block-section, .slate-toolbar-mark-section {
  display: block;
}

.ql-stroke {
  stroke: #FFF;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

.ql-stroke-active {
  stroke: #f97d5a;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.ql-stroke-mitter {
  stroke: #FFF;
  fill: transparent;
}

.ql-stroke-mitter-active {
  stroke: #f97d5a;
  fill: transparent;
}

.ql-fill {
  fill: #FFF;
}

.ql-fill-active {
  fill: #f97d5a;
}

.ql-even {
  stroke: #FFF;
  fill: #151515;
}

.ql-even-active {
  stroke: #f97d5a;
  fill: #151515;
}

.ql-color-label {
  fill: #000;
  opacity: 0.2;
}

.ql-transparent {
  // opacity: 0.2;
}

.ql-thin {
  stroke: #FFF;
  fill: transparent;
  stroke-width: 1;
}

.ql-thin-active {
  stroke: #f97d5a;
  fill: transparent;
  stroke-width: 1;
}
