.slate-toolbar {
  position: absolute;
  z-index: 4;
  margin-top: -6px;
  color: #fff;
  cursor: auto;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #464646, #151515);
}
.slate-toolbar:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #151515;
  border-width: 5px;
  margin-left: -5px;
}
.slate-toolbar .slate-toolbar-item {
  cursor: pointer;
  display: inline-block;
  padding: 6px 10px;
  font-size: 14px;
}
.slate-toolbar .slate-toolbar-item.separated {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

[data-active=true],
.slate-toolbar .slate-toolbar-item:hover {
  color: limegreen;
}

[data-block-active=true] {
  outline: 3px solid black;
}

.slate-toolbar-section {
  display: inline-block;
}

.devider {
  display: inline;
  height: inherit;
  border-right: 1px solid #FFF;
}
